In [1]:
x = " Hola , que tal"
print(x)

 Hola , que tal

In [7]:
x = "Jorge Alejando"
y = 20
z = "San Isidro"
print("Nombre: "+x+" Edad: "+ str(y) +" Ubicacion: "+z)

Nombre: Jorge Alejando Edad: 20 Ubicacion: San Isidro

In [8]:
a = 5
b = 4
c =6

print (a+b)
print (a-b)
print (a*b)
print (a/b)
print ((a+b)*c)
print (a+b+c)
print ((c/b)+ a)

9
1
20
1.25
54
15
6.5

In [15]:
def metod(entrada):  #creamos un metodo para q realize una operacio

  if (entrada > 4):  # creamos una concicional (if) q comprueba q la entrada es > 4

    print("el nuemro es mayor q 4") #sacamos este resultado si cumple la condicion

  else:   #si no se cumple la condicion de arriba sale esta siempre

    print("el numero es igual o menor q 4") #sacamos este resultado si cumple la condicion

a = 4 #creamos una variable llamada (a) y le asignamos un valor (int)

print (metod(a))  # creamos un print para sacar la info dentro llamamos al metodo t le pasamos el valor d eentrada

el numero es igual o menor q 4
None

In [20]:
x , y , z = 19 , 'agosto' , 2005
año_actual = 2025

resultado = año_actual - z

print(resultado)

20

In [21]:
if True:
  print("Esto es un bloque indentado")

This line is indented.

In [26]:
"""
Aca podemos mediante un ejercicio anterior ver muchas de lcas cosas q vimos
aca en clase
"""

def metod(entrada):  #creamos un metodo para q realize una operacio

  if (entrada == 4):  # creamos una concicional (if) q comprueba q la entrada es == 4

    print("el nuemro es Igual a 4") #sacamos este resultado si cumple la condicion

  else:   #si no se cumple la condicion de arriba sale esta siempre

    print("el numero es diferente de 4") #sacamos este resultado si cumple la condicion

n = 4 #creamos una variable llamada (a) y le asignamos un valor (int)

b ,c = 3 , 6

n = "resultado\n"

print (n)
print (metod(a))  # creamos un print para sacar la info dentro llamamos al metodo t le pasamos el valor d eentrada
print (metod(b))
print (metod(c))

resultado

el nuemro es Igual a 4
None
el numero es diferente de 4
None
el numero es diferente de 4
None